html {
    -webkit-text-size-adjust: 100%;
    width: 100%;
    font-size: 40px;
    font-family: sans-serif;
    background-color: #161616;
    color: white;
}

body {
    max-width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 1.0em;
    }

    body {
        width: 700px;
    }

    .thumbnail {
        height: 200px;
    }
}

a {
    color: white;
    text-decoration: none;
    color: #7fffd4;
}

h2 {
    color: #7fffd4;
}

.thumbnail {
    text-align: center;
}

.thumbnail img {
    text-align: center;
    width: 90%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 0%;
    border-radius: 40px;
}

.container {
    padding: 40px;
    display: grid;
    grid-template-rows: 50% 25% 25%;
    grid-template-columns: 30% 70%;
    grid-template-areas:
        "areaA areaB"
        "areaA areaC"
        "areaA areaD";
}

.icon {
    grid-area: areaA;
    width: 100%;
    border: none;
    border-radius: 20%;
    margin-top: 25px;
}

.tweak_name {
    grid-area: areaB;
    color: white;
    padding-left: 20px;
}

.bundle_id {
    grid-area: areaC;
    color: #999999;
    padding-left: 20px;

}

.developer {
    grid-area: areaD;
    color: #999999;
    padding-left: 20px;
}

.banner {
    border: none;
    border-radius: 10px;
}

.information {
    width: 100%;
}

.information tbody {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: end;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    flex-direction: unset;
    flex-wrap: wrap;
    -webkit-box-align: baseline;
    align-items: baseline;
}

.information tbody tr {
    width: 45%;
    max-width: 50%;
    display: inline-block;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: end;
    border: none;
    padding: 5px;
    text-align: center;
    height: 100%;
    -webkit-box-align: start;
    align-items: flex-start;
    flex-shrink: 2;
    flex-basis: fill;
}

.information tbody tr:nth-child(2n) {
    padding-right: 0;
}

.information tbody tr:nth-child(odd) {
    padding-left: 0;
}

.information tbody tr td:first-child {
    color: #777;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

.information tbody tr td:nth-child(2) {
    text-align: left;
    color: white;
    font-weight: 600;
    padding-top: 0;
    padding-bottom: 0;
    margin: .10425rem 0 .625rem;
}

.screenshot_scroll {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 600px;
}

.screenshot_scroll img {
    border-radius: 20px;
    padding: 1%;
    border: none;
    height: 95%;
}

.old-changelog {
    position: relative;
}

.old-changelog div {
    overflow: hidden;
}

.old-changelog input {
    display: none;
}

.old-changelog label {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: orange;
    font-weight: bold;
}

.old-changelog input[type="checkbox"]:not(:checked)~div {
    height: 10px;
}

.old-changelog input[type="checkbox"]:checked~div {
    padding-bottom: 30px;
}

.old-changelog input[type="checkbox"]:not(:checked)+label::after {
    content: "Version History";
}

.old-changelog input[type="checkbox"]:checked+label::after {
    content: "Close";
}

.links ul {
    list-style: none;
    padding-inline-start: 0;
    margin-top: 0px;
}

.links li {
    padding: 20px 0px;
}

.links i {
    width: 20%;
    padding-right: 0px;
}

.links .header {
    margin-top: 65px;
}