html {
    -webkit-text-size-adjust: 100%;
    width: 100%;
    font-family: sans-serif;
    background-color: #161616;
    color: white;
}

body {
    max-width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 1.0em;
    }

    body {
        width: 700px;
    }
}

.recent_update {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    width: 70%;
}

.recent_update table {
    width: 100%;
}

.recent_package {
    position: relative;
    padding-left: 20px;
    width: 500px;

}

.recent_package img {
    width: 100%;
}

.information {
    position: absolute;
    left: 10%;
    bottom: 10%;
    font-weight: bold;
}

.all_packages ul {
    list-style-type: none;
    width: 50%;
}


.tweak_cell {
    width: 500px;
    display: grid;
    grid-template-rows: 50% 25% 25%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        " icon icon"
        " name name"
        " developer price";
}

.icon {
    grid-area: icon;
    margin-top: 25px;
    width: 50%;
    width: 50%;
    object-fit: cover;
    object-position: 0% 0%;
    border-radius: 40px;

}

.name {
    grid-area: name;

}

.price {
    grid-area: price;
}

.developer {
    grid-area: developer;
}