html {
    -webkit-text-size-adjust: 100%;
    width: 100%;
    font-family: sans-serif;
    background-color: #161616;
    color: white;
}

body {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1024px) {
    body {
        width: 70%;
    }
}

a {
    color: white;
    text-decoration: none;
}

.recent_update a {
    color: white;
}

.links a {
    color: orange;
}


.recent_update {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.recent_update table {
    width: 100%;
}

.recent_package {
    position: relative;
    padding-left: 20px;
    width: 100%;
}

.recent_package img {
    width: auto;
    height: 150px;
    border: none;
    border-radius: 10%;
}

.information {
    position: absolute;
    left: 10%;
    bottom: 10%;
    font-weight: bold;
}

.all_packages {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
}

.all_packages * {
    flex-basis: 300px;
    padding: 10px;
}


.tweak_cell {
    margin-right: 10px;
    display: grid;
    grid-template-rows: 1fr 10% 10%;
    grid-template-columns: 78% 1fr;
    grid-template-areas:
        " icon icon"
        " name name"
        " developer price";
}

.icon {
    grid-area: icon;
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: 0% 0%;
    border-radius: 10px;
    padding: 0;
    margin-bottom: -40px;
}

.name {
    grid-area: name;
    font-weight: bold;
}

.price {
    padding: 0px 10px 0px 10px;
    grid-area: price;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: orange;
}

.developer {
    grid-area: developer;
}

.links ul {
    list-style: none;
    padding-inline-start: 0;

}

.links li {
    padding: 10px 0px;
    font-weight: bold;
}

.links i {
    width: 5%;
    padding-right: 0px;
}